RationalMaps/Paper/RationalMapsPaper.aux
RationalMaps/Paper/RationalMapsPaper.log
RationalMaps/Paper/RationalMapsPaper.out
RationalMaps/Paper/RationalMapsPaper.pdf
RationalMaps/Paper/RationalMapsPaper.synctex.gz
